mkdocs-material==9.6.11
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-macros-plugin==1.0.4
mkdocs-bibtex==4.4.0
pypandoc_binary==1.15
git+https://github.com/rbeucher/mkdocs_events_plugin.git
git+https://github.com/ACCESS-NRI/mkdocs_include_configuration_stubs_plugin.git