name: PR Checks
on:
  pull_request:
    branches:
      - 'release-*'
      - 'dev-*'
    paths-ignore:  # and possibly more to ignore (eg. README), check what happens if there is a change to more than just these ignored files
      - 'VERSION'
      - 'CHECKSUM'
jobs:
  repro-ci:
    # run the given config and upload the checksums
    uses: ./.github/workflows/repro-ci.yml
    with:
      model-name: access-om2
      config-tag: ${{ github.ref_name }}

  check-repro:
    # compare the uploaded checksum with the ground truth
    name: Check and Update Checksum
    needs:
      - repro-ci
    runs-on: ubuntu-latest
    env:
      CHECKSUM_LOCAL_LOCATION: /opt/checksums
    outputs:
      result: ${{ steps.check.outputs.result }}
      ground-truth-version: ${{ steps.check.outputs.ground-truth-version }}
    steps:
      - name: Download Newly Created Checksum
        uses: actions/download-artifact@v3
        with:
          name: ${{ needs.repro-ci.outputs.artifact-name }}
          path: ${{ env.CHECKSUM_LOCAL_LOCATION }}

      - name: Checkout Last Config at ${{ github.ref_name }}
        # This is used to have a link to correct config branch to find
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          fetch-tags: true

      - name: Check Reproducibility
        id: check
        uses: ./.github/actions/check-repro
        with:
          checksum-location: ${{ env.CHECKSUM_LOCAL_LOCATION }}

      - name: Move, Commit and Push Updated Checksum
        run: |
          mv ${{ env.CHECKSUM_LOCAL_LOCATION }} CHECKSUM
          git commit -am "Updated Checksums"
          git push

  successful-repro:
    name: Successful Reproduction
    needs:
      - check-repro
    if: needs.check-repro.outputs.result == 'true'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Release Comment
        if: startsWith(github.ref_name, 'release-')
        uses: thollander/actions-comment-pull-request@1d3973d  #v2.4.3
        with:
          message: |
            :white_check_mark: The Bitwise Reproducibility check succeeded when comparing against ${{ needs.check-repro.outputs.ground-truth-version }} for this Release config. :white_check_mark:
            Consider bumping the minor version of access-om2.
            To bump the version, comment `!bump minor`.

      - name: Dev Comment
        if: startsWith(github.ref_name, 'dev-')
        uses: thollander/actions-comment-pull-request@1d3973d  #v2.4.3
        with:
          message: |
            :white_check_mark: The Bitwise Reproducibility check succeeded when comparing against ${{ needs.check-repro.outputs.ground-truth-version }} for this Dev config. :white_check_mark:

  failed-repro:
    name: Failed Reproduction
    needs:
      - check-repro
    if: needs.check-repro.outputs.result == 'false'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Release Comment
        if: startsWith(github.ref_name, 'release-')
        uses: thollander/actions-comment-pull-request@1d3973d  #v2.4.3
        with:
          message: |
            :x: The Bitwise Reproducibility check failed when comparing against ${{ needs.check-repro.outputs.ground-truth-version }} for this Release config. :x:
            Consider bumping the major version of access-om2 to account for this.
            To bump the version, comment `!bump major`.

      - name: Dev Comment
        if: startsWith(github.ref_name, 'dev-')
        uses: thollander/actions-comment-pull-request@1d3973d  #v2.4.3
        with:
          message: |
            :warning: The Bitwise Reproducibility check failed when comparing against ${{ needs.check-repro.outputs.ground-truth-version }} for this Dev config. :warning:
